<div class="container">
  <h2>
    Admin platform
  </h2>
  <div class="row">
    <div class="col-lg-8">
      <div>
        fuck you
        <generate-article *ngIf="!addMode"></generate-article>
      </div>
    </div>
    <div class="col-lg-4">
      <aside class="container-fluid">
        <div>
          <img src=".././../../assets/rinzzy7.jpg" class="rounded-circle img-fluid" alt="" srcset="">
        </div>
        <nav class="inline-block">
          <ul class="list-unstyled text-center">
            <li><a (click)='addArticle()' type="button">New Articles</a> </li>
            <li><a> Platform</a></li>
          </ul>
        </nav>
      </aside>
    </div>
  </div>
</div>
