/* You can add global styles to this file, and also import other style files */
.header {
	-webkit-box-shadow: 0px 5px 10px rgba(91, 91, 91, 0.1);
	box-shadow: 0px 5px 10px rgba(91, 91, 91, 0.1);
}
.header-color{
	background: black;
}
.header__menu {
	padding: 10px 0 5px;
}
.header__img img{
  width: 250px;
  height: 200px;
  position: absolute;
  top: 10px;
  padding-top: 10px;
  z-index: 26;
}
.header__img{
  text-align: left;
}
.header__menu ul li {
	list-style: none;
	display: inline-block;
	margin-right: 40px;
  position: relative;
}
.header__menu ul li.active a:after {
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

.header__menu ul li:hover a:after {
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

.header__menu ul li:hover .dropdown {
	top: 27px;
	opacity: 1;
	visibility: visible;
}

.header__menu ul li:last-child {
	margin-right: 0;
}

.header__menu ul li .dropdown {
	position: absolute;
	left: 0;
	top: 56px;
	width: 250px;
	background: #ffffff;
	text-align: center;
	padding: 2px 0;
	z-index: 95;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
}
.header__menu ul li a {
  font-family: Arial, Helvetica, sans-serif;
}
.header__menu ul li .dropdown li {
	display: block;
	margin-right: 0;
}

.header__menu ul li .dropdown li a {
	font-size: 9px;
	color: #111111;
	font-weight: 600;
	padding: 8px 20px;
	text-transform: capitalize;
}

.header__menu ul li .dropdown li a:after {
	display: none;
}
.header__menu ul li a {
	font-size: 19px;
	text-transform: uppercase;
	color: #111111;
	font-weight: 500;
	display: block;
	padding: 2px 0;
	position: relative;
  text-align: center;
}
.header__menu ul li a:hover{
  color:  rgb(202, 92, 0);
}

.header__menu ul li a:after {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 55%;
	height: 2px;
	background:  rgb(202, 92, 0);
	content: "";
	-webkit-transition: all, 0.5s;
	-o-transition: all, 0.5s;
	transition: all, 0.5s;
	-webkit-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
}

.header__right {
	text-align: right;
	padding: 17px 0 15px;
}
.header h4{
  font-size: 15px;
}
.offcanvas-menu-wrapper {
	display: none;
}
.canvas__open {
	display: none;
}

.slick_menu{
  background-color: white;
}
.logo-section{
  position: absolute;
  bottom: 0px;
  text-align: left;
}
.logo-section img{
  width: 75%;
  height: 55%;
}
h3 span{
  color: rgb(202, 92, 0);
  text-shadow: rgb(170, 9, 9);
}
.rinzy-header{
  border-bottom: black solid 2px;
}
.rinzy-header h3{
  line-height: normal;
}
.header__menu ul li{
  margin-right: 50px;
}
ul{
  margin-bottom: 0.8rem;
}
.adjuster{
  flex-flow: row;
}
/*--------------------------------- Responsive Media Quaries -----------------------------*/

@media only screen and (min-width: 1600px) and (max-width: 1900px) {
	.header {
		padding: 0 85px;
  }
  .header__right {
    text-align: right;
    padding: 17px 0 17px;
  }
  .header__menu ul li a{
    font-size: 10px;
  }
  .header h4{
    font-size: 13px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1599px) {
	.header__menu ul li {
		margin-right: 20px;
	}
	.header {
		padding: 0 30px;
	}
}

@media only screen and (min-width: 1200px) {
	.container {
		max-width: 1170px;
	}
}

/* Medium Device = 1200px */

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.header__menu ul li {
		margin-right: 20px;
	}
	.nav::before {
		width: 240px;
	}
	.nav::after {
		width: 240px;
  }
  .adjuster{
    padding-left: 0px;
  }
}

/* Tablet Device = 768px */

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.nav::before {
		width: 125px;
	}
	.nav::after {
		width: 125px;
	}
	.canvas__open {
		display: block;
		font-size: 22px;
		color: #222;
		height: 35px;
		width: 35px;
		line-height: 35px;
		text-align: center;
		border: 1px solid #323232;
		border-radius: 2px;
		cursor: pointer;
		position: absolute;
		right: 15px;
		top: 16px;
	}
	.offcanvas-menu-overlay {
		position: fixed;
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
		background: rgba(0, 0, 0, 0.7);
		content: "";
		z-index: 98;
		-webkit-transition: all, 0.5s;
		-o-transition: all, 0.5s;
		transition: all, 0.5s;
		visibility: hidden;
	}
	.offcanvas-menu-overlay.active {
		visibility: visible;
	}
	.offcanvas-menu-wrapper {
		position: fixed;
		left: -300px;
		width: 300px;
		height: 100%;
		background: #ffffff;
		padding: 90px 20px 30px 30px;
		display: block;
		z-index: 99;
		overflow-y: auto;
		-webkit-transition: all, 0.5s;
		-o-transition: all, 0.5s;
		transition: all, 0.5s;
		opacity: 0;
	}
	.offcanvas-menu-wrapper.active {
		opacity: 1;
		left: 0;
	}
	.offcanvas__close {
		position: absolute;
		width: 40px;
		height: 40px;
		right: 30px;
		top: 25px;
		border: 1px solid #ddd;
		border-radius: 50%;
		font-size: 26px;
		text-align: center;
		-webkit-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		transform: rotate(45deg);
		cursor: pointer;
	}
	.offcanvas__menu {
		display: none;
	}
	.slicknav_btn {
		display: none !important;
	}
	.slicknav_menu {
		background: transparent;
		padding: 0;
    margin-bottom: 20px;
	background-color: white !important;
		display: none;
	}
	.slicknav_nav ul {
		margin: 0;
	}
	.slicknav_nav .slicknav_row,
	.slicknav_nav a {
		padding: 7px 0;
		margin: 0;
		color: #111111;
		font-weight: 600;
	}
	.slicknav_nav .slicknav_row:hover {
		border-radius: 0;
		background: transparent;
		color: #111111;
	}
	.slicknav_nav a:hover {
		border-radius: 0;
		background: transparent;
		color: #111111;
	}
	.slicknav_nav {
		display: block !important;
	}
	.offcanvas__logo {
		margin-bottom: 25px;
	}
	.header__menu {
		display: none;
	}
	.header__right {
		display: none;
  }
  .header h4{
    padding: 20px;
  }
  .header__img{
    height: 55px;
    position: relative;
  }
  .header__img img{
    width: 200px;
    height: 150px;
    position: absolute;
    top: 0px;
    z-index: 26;
    display: block;
  }
  .rinzy-header h3{
    line-height: normal;
    margin: 10px 0 10px;
  }
}

/* Wide Mobile = 480px */

@media only screen and (max-width: 767px) {
	.canvas__open {
		display: block;
		font-size: 22px;
		color: #222;
		height: 35px;
		width: 35px;
		line-height: 35px;
		text-align: center;
		border: 1px solid #323232;
		border-radius: 2px;
		cursor: pointer;
		position: absolute;
		right: 15px;
		top: 12px;
  }
	.offcanvas-menu-overlay {
		position: fixed;
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
		background: rgba(0, 0, 0, 0.7);
		content: "";
		z-index: 98;
		-webkit-transition: all, 0.5s;
		-o-transition: all, 0.5s;
		transition: all, 0.5s;
		visibility: hidden;
	}
	.offcanvas-menu-overlay.active {
		visibility: visible;
	}
	.offcanvas-menu-wrapper {
		position: fixed;
		left: -270px;
		width: 270px;
		height: 100%;
		background: #ffffff;
		padding: 90px 20px 30px 30px;
		display: block;
		z-index: 99;
		overflow-y: auto;
		-webkit-transition: all, 0.5s;
		-o-transition: all, 0.5s;
		transition: all, 0.5s;
		opacity: 0;
	}
	.offcanvas-menu-wrapper.active {
		opacity: 1;
		left: 0;
  }
  .row1{
    display: flex !important;
    flex-wrap: wrap !important;
    margin-right: 0px !important;
    margin-left: 0px !important;
  }
	.offcanvas__close {
		position: absolute;
		width: 40px;
		height: 40px;
		right: 30px;
		top: 25px;
		border: 1px solid #ddd;
		border-radius: 50%;
		font-size: 26px;
		text-align: center;
		-webkit-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		transform: rotate(45deg);
		cursor: pointer;
	}
	.offcanvas__menu {
		display: none;
	}
	.slicknav_btn {
		display: none;
	}
	.slicknav_menu {
		background: transparent;
		padding: 0;
    margin-bottom: 20px;
    background-color: white !important;
	}
	.slicknav_nav ul {
		margin: 0;
	}
	.slicknav_nav .slicknav_row,
	.slicknav_nav a {
		padding: 7px 0;
		margin: 0;
		color: #111111;
		font-weight: 600;
	}
	.slicknav_nav .slicknav_row:hover {
		border-radius: 0;
		background: transparent;
		color: #111111;
	}
	.slicknav_nav a:hover {
		border-radius: 0;
		background: transparent;
		color: #111111;
	}
	.slicknav_nav {
		display: block !important;
	}
	.offcanvas__logo {
		margin-bottom: 25px;
	}
	.header__menu {
		display: none;
	}
	.header__right {
		display: none;
	}
	.nav::before {
		display: none;
	}
	.nav::after {
		display: none;
  }
  .header h4{
    padding: 15px;
  }
  .header__img{
    height: 55px;
    position: relative;
  }
  .header__img img{
    width: 185px;
    height: 140px;
    position: inherit;
    top: 0px;
    padding-top: 10px;
  }
  .rinzy-header h3{
    line-height: normal;
    margin: 10px 0 5px;
  }
}
@media only screen and (max-height: 570px){
  .header__img img{
    width: 140px;
    height: 105px;
  }
}
