  <!-- Page Preloder -->
  <div class="preloader">
    <div class="loader"></div>
  </div>

<!---------Off canvas Menu---------------->
<div class="offcanvas-menu-overlay"></div>
<div class="offcanvas-menu-wrapper">
  <div class="offcanvas__close">+</div>
  <div class="container rinzy-header">
    <h3 class="text-center display-6"><strong><span>Rinzy</span>Reviews</strong></h3>
  </div>
  <div id="mobile-menu-wrap"></div>
  <div class="logo-section">
    <img class="img-fluid" src="../assets/IMG-20200723-WA0045.jpg" alt="logo">
  </div>
</div>
<!-------End menu-------->
<!---------Naviagation bar------------>
<header class="header">
  <div class="header-color">
    <div class="container rinzy-header">
      <h3 class="text-center display-6"><strong><span>Rinzy</span>Reviews</strong></h3>
    </div>
  </div>
  <div class="container">
          <nav class="header__menu">
            <ul class="text-justify adjuster row">
              <li class="nav-item col-lg-2"><a routerLink="/home" href="/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="nav-link">Home</a></li>
              <li class="col-lg-2"><a>Categories</a>
                <ul class="dropdown">
                    <li><a href="/services/interior-and-exterior-design" routerLink="/services/interior-and-exterior-design">Film Article</a></li>
                    <li><a href="/services/professional-cleaning-services" routerLink="/services/professional-cleaning-services">FIlm Education</a></li>
                    <li><a href="/services/event-planning-&-management" routerLink="/services/event-planning-&-management">Movie Article</a></li>
                    <li><a href="/services/art-production-supply-&-management" routerLink="/services/art-production-supply-&-management">RR Original</a></li>
                    <li><a href="/services/art-production-supply-&-management" routerLink="/services/art-production-supply-&-management">Tv Recap</a></li>
                    <li><a href="/services/art-production-supply-&-management" routerLink="/services/art-production-supply-&-management">Tv Series Article</a></li>
                </ul>
              </li>
              <li class="nav-item col-lg-2"><a routerLink="/contactus" href="/contactus" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="nav-link">Contact</a></li>
              <li class="nav-item col-lg-2"><a routerLink="/product/homepage" href="/product/homepage" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="nav-link">Product</a></li>
              <li class="nav-item col-lg-2"><a routerLink="/aboutus" href="/aboutus" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="nav-link">About us</a></li>
            </ul>
          </nav>
      </div>
      <div class="canvas__open">
          <i class="fa fa-bars"></i>
      </div>
</header>
<div>
  <router-outlet></router-outlet>
</div>
