<div class="container-fluid">
  <div class="row">
    <div class="col-xl-2 col-lg-1 col-0"></div>
    <div class="col-xl-8 col-lg-10 col-12">
      <div class="container pr-0 pl-0">
        <div id="welcomeCarousel" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators mr-0 ml-0">
            <li data-target="#welcomeCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#welcomeCarousel" data-slide-to="1"></li>
            <li data-target="#welcomeCarousel" data-slide-to="2"></li>
            <li data-target="#welcomeCarousel" data-slide-to="3"></li>
            <li data-target="#welcomeCarousel" data-slide-to="4"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active welcome-carousel-image1">
              <div class="container">
                <div class="carousel-caption text-right bg-dark-main">
                  <div class="container">
                    <div class="tags">
                      <div><span class="p-1 tv-series">Tv-series</span><span class="p-1 romance">Romance</span><span class="p-1 movies">Movies</span></div>
                    </div>
                    <h3 class="font-weight-bold"> John wick better than the Witcher</h3>
                    <p>A thought that will take one thought to the far beyond on the importance of franchise</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item welcome-carousel-image2">
              <div class="container">
                <div class="carousel-caption text-right bg-dark-main">
                  <div class="container">
                    <div class="tags">
                      <div><span class="p-1 romance">Romance</span></div>
                    </div>
                    <h3 class="font-weight-bold"> John wick better than the Witcher</h3>
                    <p>A thought that will take one thought to the far beyond on the importance of franchise</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item welcome-carousel-image3">
              <div class="container">
                <div class="carousel-caption text-right bg-dark-main">
                  <div class="container">
                    <div class="tags">
                      <div><span class="p-1 tv-series">Tv-series</span><span class="p-1 romance">Romance</span></div>
                    </div>
                    <h3 class="font-weight-bold"> John wick better than the Witcher</h3>
                    <p>A thought that will take one thought to the far beyond on the importance of franchise</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item welcome-carousel-image4">
              <div class="container">
                <div class="carousel-caption text-right bg-dark-main">
                  <div class="container">
                    <div class="tags">
                      <div><span class="p-1 tv-series">Tv-series</span></div>
                    </div>
                    <h3 class="font-weight-bold"> John wick better than the Witcher</h3>
                    <p>A thought that will take one thought to the far beyond on the importance of franchise</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item welcome-carousel-image5">
              <div class="container">
                <div class="carousel-caption text-right bg-dark-main">
                  <div class="container">
                    <div class="tags">
                      <div><span class="p-1">Movies</span><span class="p-1 romance">Romance</span></div>
                    </div>
                    <h3 class="font-weight-bold"> John wick better than the Witcher</h3>
                    <p>A thought that will take one thought to the far beyond on the importance of franchise</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#welcomeCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#welcomeCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
      <div class="display-sm container-md">
        <div class="row">
          <div class="col-9">
            <div class="row">
              <div class="col-6">
                <div class="tags">
                  <div><span class="p-1 tv-series">Tv-series</span><span class="p-1 romance">Romance</span><span class="p-1 movies">Movies</span></div>
                </div>
                <div class="rinzyreviews-private-section">
                  <h3 class="font-weight-bold">Welcome</h3>
                  <h3 class="font-weight-bold">to</h3>
                  <h3 class="font-weight-bold">rinzyreviews</h3>
                  <p class="date">November 4, 2021</p>
                  <p class="rinzyreviews-private-section-text">Welcome to rinzy reviews your official blogs on hot topics like movies,
                     tv-series, soaps and many more. Here, we focus on variety of topics based on
                     various culture...... <a href="#">continue reading</a></p>
                </div>
              </div>
              <div class="col-6">
                <img src="../../assets/IMG-20200723-WA0045.jpg" class="img-fluid" alt="Rinzy Reviews logo">
              </div>
            </div>
          </div>
          <div class="col-3"></div>
        </div>
      </div>
      <div class="container reviews">
        <h3>Reviews</h3>
      </div>
      <main-details [articles]='article'></main-details>
    </div>
    <div class="col-xl-2 col-lg-1 col-0"></div>
  </div>
</div>


<app-pagination></app-pagination>
