.pagination li a{
  color: black;
  float: left;
  padding: 8px 10px;
  text-decoration: none;
  border-radius: 5px;
}
.pagination li a.active, .prev, .next{
  background-color: #007bff;
  color: white;
  border-radius: 5px;
}
.pagination .prev a, .pagination .next a{
  color: white;
}
.pagination li a:hover:not(.active){
  background-color: rgba(0, 0, 255, 0.814);
}
@media only screen and (max-width: 767px){
  .pagination .prev a, .pagination .next a, .pagination li a{
    font-size: x-small;
  }
}
